/* #nav-bar {
  background-color: #20c997;
} */

.teal-light {
  background-color: #d2f4ea;
}

.row {
  border-width: 2px;
  /* border-style: solid;
  border-color: #20c997; */
  padding: 5px;
  margin: 5px;
}

 .row div {
  border-width: 1px;
  /* border-style: solid;
  border-color: #20c997; */
  margin: 3px;
}

/* #information {
  height: 60vh;
} */

#bottom-row {
  height: 40vh;
}

#asset-info {
  height: auto;
}

/* #chart {
  height: 300px;
  width: 300px;
} */
.margin-3px {
  margin: 3px;
}

.delete-btn {
  margin: 0px;
  padding: 0px;
}

#alerts {
  height: 350px;
}

.Buy {
  color: rgb(48, 121, 48);
}

.Sell {
  color: rgb(187, 63, 63);
}

#trade-history {
  height: 40vh;
}