
/* ID's */
#asset-info {
  height: auto;
}

#bottom-row {
  height: 40vh;
}
#alerts {
  height: 350px;
}

#trade-history {
  height: 40vh;
}

.Buy {
  color: rgb(48, 121, 48);
}

.Sell {
  color: rgb(187, 63, 63);
}

/* Classes */
.margin-3px {
  margin: 3px;
}

.row {
  border-width: 2px;
  padding: 3px;
  margin: 3px;
}

.row div {
  padding-top: 5px;
}

.bg-color {
  background-color: rgb(227, 255, 221);
}